@import "variables";

.breakbar {
  height: 300px;
  content: "";
}

footer {
  width: 100vw;
  position: fixed;
  margin-top: auto;
  bottom: 0;
  background-color: $dkgreen;
  color: $gold;
  align-items: center;
}
