@import "header";
@import "footer";
@import "variables";
@import "buttons";
@import "carousel";
@import "menu";

//base
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.6;

  //magic?
  // @media (max-width: 1200px) {
  //   font-size: calc(10px + 0.2vw);
  // }
}
